//This file you will create your style base of reset inside of the project
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: var--(--primary-color-dark);
  font-size: 1.6rem;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img{
  width:100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}