//This file is for create your style with relation on space of navbar
.navbar{
<<<<<<< HEAD
  background:var(--primary-color-light);
  color:var(--color-black);
  height:30px;
=======
  background: var(--primary-color);
  color:var(--color-white);
  height:40px;
>>>>>>> 868150e73ccc7928350463b2a33d6bda41e79fec
}

.navbar .flex{
  justify-content: flex-end;

}
ul{
  display:flex;

}
ul a {
  padding: 5px;
  margin:0 5px;
  color:var(--color-white);
  text-transform: uppercase;
}
ul a:hover{
  border:none;
  color:var(--primary-color-dark);
}
