.showcase{
  color:var(--color-white);
  font-weight:600;
  padding-top:10px;
  height: 250px;
  background-image:linear-gradient(to right bottom,
  rgba(0,0,0,.2),
  rgba(0,0,0,.4)),
  url('/public/images/1.jpg');
  background-size:cover;
  background-position: center;
}

.showcase h1{
  font-size:25px;
}
.showcase .flex{
  justify-content: space-around;
}