.showcase{
  padding:5rem 0;  
  color:var(--color-white);
  background-image:linear-gradient(to right bottom,
  rgba(255,0,0,0.3),
  rgba(255,0,0,0.3)
  ),
  url('/public/images/1.jpg');
  background-size:cover;
  background-position: top;
  font-weight:400;

}
.showcase .flex{
  justify-content: space-between;
  margin:auto;
}
.inline-form{
  display:flex;
  gap:5px;
}
.cart{
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius:2em;
  background-color:var(--color-white);
  width:50px;
  height:50px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}
.search-content{
  width:60vw;
  color:white;
  padding:3rem;
  box-shadow:0 0 3em rgba(0,0,0,0.15);
}
.search-bar{
  border:2px solid red;
  display:flex;
  &__input{
    flex:grow;
  }
}