.showcase{
<<<<<<< HEAD
  padding:5rem 0;  
  color:var(--color-white);
  background-image:linear-gradient(to right bottom,
  rgba(0,0,0,.3),
  rgba(0,255,255,.2)
  ),
  url('/public/images/1.jfif');
  background-size:cover;
  background-position: center;
  font-weight:400;

}
.showcase .flex{
  justify-content: space-between;
  margin:auto;
}
.inline-form{
  display:flex;
  gap:5px;
}
.cart{
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius:2em;
  background-color:var(--color-white);
  width:50px;
  height:50px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
=======
  color:var(--color-white);
  font-weight:600;
  padding-top:10px;
  height: 250px;
  background-image:linear-gradient(to right bottom,
  rgba(0,0,0,.2),
  rgba(0,0,0,.4)),
  url('/public/images/1.jpg');
  background-size:cover;
  background-position: center;
}

.showcase h1{
  font-size:25px;
}
.showcase .flex{
  justify-content: space-around;
>>>>>>> 868150e73ccc7928350463b2a33d6bda41e79fec
}